[submodule "External LIbrary/SDL"]
	path = External LIbrary/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External LIbrary/SDL_image"]
	path = External LIbrary/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
